{% extends 'index.html' %}
{% block content %}
    <form action="{{ url_for('command_editor') }}" method="post">
    <div class="row">
        <div class="col"><label style="font-size: 25px;">File name :&nbsp;&nbsp;</label><input type="text" placeholder="insert filename" style="border-radius: 8px;"></div>
    </div>

    {% for i in range(num_of_cmds) %}
    {% include 'command_file_editor/editor_form_row.html' %}
    {% endfor %}

    <div class="row">
        <div class="col" style="text-align: center;">
            <input type="hidden" name="num_of_cmds" value="{{ num_of_cmds }}">
            <button class="btn btn-danger" type="submit" name="submit" value="remove" style="font-size: 20px"><b>remove last command</b></button>
            <button class="btn btn-success" type="submit" name="submit" value="add" style="margin: 10px;font-size: 20px;"><b>add new command</b></button>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
               <button class="btn btn-info" type="submit" name="submit" value="save" style="margin: 20px;">Save&nbsp; file</button>
               <button class="btn btn-info" type="submit" name="submit" value="test" style="margin: 20px;">Test</button>
        </div>
    </div>
    </form>
{% endblock %}